<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask Client</title>
</head>
<body>
    <form action="" method="post">
        {{ form.hidden_tag() }}
        <p>
            {{ form.message_body.label }}<br>
            {{ form.message_body(size=32) }}
        </p>
        <p>
            {{ form.message_amount.label }}<br>
            {{ form.message_amount }}
        </p>
        <p>{{ form.submit() }}</p>
    </form>
</body>
</html>